<html>
<head>
  <title>{{ title }}</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <canvas id="line-chart" style="width: 1200px; height: 800px;"></canvas>
</body>
  

<script>
  new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [{% for value in index_list %}{{ value }},{% endfor %}],
    datasets: [{ 
        data: [{% for value in excitement_list %}{{ value }},{% endfor %}],
        label: "Excitement",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [{% for value in engagement_list %}{{ value }},{% endfor %}],
        label: "Engagement",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [{% for value in long_excitement_list %}{{ value }},{% endfor %}],
        label: "Long Term Engagement",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [{% for value in stress_list %}{{ value }},{% endfor %}],
        label: "Stress",
        borderColor: "##5a7699",
        fill: false
      }, { 
        data: [{% for value in relaxation_list %}{{ value }},{% endfor %}],
        label: "Relaxation",
        borderColor: "#703201",
        fill: false
      }, { 
        data: [{% for value in interest_list %}{{ value }},{% endfor %}],
        label: "Interest",
        borderColor: "##711997",
        fill: false
      }, { 
        data: [{% for value in focus_list %}{{ value }},{% endfor %}],
        label: "Focus",
        borderColor: "#85ab8b",
        fill: false
      }, { 
        data: [{% for value in pulse_list %}{{ value }},{% endfor %}],
        label: "Pulse",
        borderColor: "#ff52a5",
        fill: false
      }
    ]
  },
  options: {
  title: {
    display: true,
    text: 'Dina känslor som vi kommer sälja till Kina för en förmögenhet.'
  },
  scales: {
    x: {
      title{
        display:true,
        text: "Time in Seconds"
      }
    },
      y: {
      min:-10,
      max:20,
    }
  }
}
});
</script></html>